@import "tailwindcss";

@layer utilities {
  .modern-scrollbar::-webkit-scrollbar {
    height: 8px;
  }

  .modern-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .modern-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  .modern-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
